html {
  box-sizing: border-box;
  font: normal 100%/1.5 "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.img-flex {
  width: 100%;
  display: block;
}

.banner-content p {
  font-style: italic;
  font-size: 2rem;
  margin: .5rem 0 0;
  padding: .5rem 0;
  max-width: 45rem;
}

h2 {
  font-weight: bold;
  color: #fff;
  font-size: 4rem;
  width: 37.5rem;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

.banner {
  overflow: hidden;
  position: relative;
  max-height: 500px;
}

.banner-content {
  position: absolute;
  bottom: 1em;
  padding: 0;
  left: 50%;
  transform: translateX(-50%);
}

.title {
  background-color: rgba(0, 0, 0, .5);
}
